@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Default colors */
body {
  --text-color: #000;
  --bkg-color: #fff;
  --card-bkg-color: rgba(255, 255, 255, 0.5);
  --scrollbar-thumb-color: #ccc;
  --scrollbar-thumb-hover-color: #bbb;

  //--primary-color: #f3c420;
  //--secondary-color: #efd25e;
  //--primary-color: #e31a13;
  //--secondary-color: #f06050;
  --primary-color: #5BC2EB;
  --secondary-color : #8DD0EB;
}

/* Dark theme colors */
body.dark-theme {
  --text-color: #dddddd;
  --bkg-color: #2b2f31;
  --card-bkg-color: rgba(30, 30, 30, 0.95);
  --scrollbar-thumb-color: #444444;
  --scrollbar-thumb-hover-color: #666666;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #dddddd;
    --bkg-color: #2b2f31;
    --card-bkg-color: rgba(30, 30, 30, 0.95);
    --scrollbar-thumb-color: #444444;
    --scrollbar-thumb-hover-color: #666666;
  }

  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --text-color: #000;
    --bkg-color: #fff;
    --card-bkg-color: rgba(255, 255, 255, 0.5);
    --scrollbar-thumb-color: #ccc;
    --scrollbar-thumb-hover-color: #bbb;
  }
}

html,
body,
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  box-sizing: border-box;
}

section h3 {
  text-align: center;
  font-size: 28px;
  margin: 16px 0;
  color: var(--text-color);
}
