@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Default colors */
body {
  --text-color: #000;
  --bkg-color: #fff;
  --card-bkg-color: rgba(255, 255, 255, 0.5);
  --scrollbar-thumb-color: #ccc;
  --scrollbar-thumb-hover-color: #bbb;

  --primary-color: #f3c420;
  --secondary-color: #efd25e;
  // --primary-color: #E31A13;
  // --secondary-color : #F06050;
  // --primary-color: #5BC2EB;
  // --secondary-color : #8DD0EB;
}

/* Dark theme colors */
body.dark-theme {
  --text-color: #dddddd;
  --bkg-color: #2b2f31;
  --card-bkg-color: rgba(30, 30, 30, 0.95);
  --scrollbar-thumb-color: #444444;
  --scrollbar-thumb-hover-color: #666666;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #dddddd;
    --bkg-color: #2b2f31;
    --card-bkg-color: rgba(30, 30, 30, 0.95);
    --scrollbar-thumb-color: #444444;
    --scrollbar-thumb-hover-color: #666666;
  }

  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --text-color: #000;
    --bkg-color: #fff;
    --card-bkg-color: rgba(255, 255, 255, 0.5);
    --scrollbar-thumb-color: #ccc;
    --scrollbar-thumb-hover-color: #bbb;
  }
}

html,
body,
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  // overflow-x: hidden;
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1 {
    font-size: 42px;
    background-color: #fff;
    color: var(--primary-color);
    width: fit-content;
    padding: 8px 16px;
  }

  h2 { color: #fff; }

  h1, h2 { margin: 0; }
}

main {
  background:
    url('/img/backgrounds/background-left.svg') no-repeat left top,
    url('/img/backgrounds/background-right.svg') no-repeat right 705px var(--bkg-color);
  position: relative;
  padding-bottom: 5vw;
  position: relative;
}

img.separator {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section h3 {
  text-align: center;
  font-size: 28px;
  margin: 16px 0;
  color: var(--text-color);
}

footer {
  background-color: #393e41;

  .container {
    color: #d5dadd;
    padding: 10px 20px 20px 20px;
    display: grid;
    grid-template-columns: max-content auto max-content;
  }

  p {
    text-align: center;
    margin: 0;
  }

  img {
    height: 64px;
    margin-top: -32px;
    z-index: 1;
  }
}

@media screen and (max-width: 794px) {
  header h2 {
    width: 340px;
    padding-bottom: 20px;
  }

  footer img {
    height: 48px;
    margin-top: -12px;
  }
}

@media screen and (max-width: 550px) {
  footer .container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  footer img {
    margin-top: 20px;
  }

  .links {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 370px) {
  header h2 {
    width: 250px;
  }
}

.no-content {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  color: var(--text-color);
}
